.container {
  min-height: 100vh;
  overflow: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor {
  position: relative;
  background: transparent;
  display: inline-block;
}

.editor-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.config-button {
  position: fixed;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  transition: color 0.2s;
  z-index: 1000;
}

.config-button:hover {
  color: #333;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.grid-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  opacity: 0;
  z-index: -1;
}

.grid-input:focus {
  opacity: 1;
  z-index: 1;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  color: transparent;
  transform-origin: left top;
  caret-color: black;
  resize: none;
  overflow: hidden;
  outline: none;
  border: none;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  transition: color 0.2s;
}

.icon-button:hover {
  color: #333;
}
