.config-panel {
  background: #fbf7eb;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  padding: 12px 20px 20px;
  height: 100%;
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box;
  overflow: auto;
}

.config-panel-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
}

.config-panel-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.config-panel-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.color-input {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.config-panel-item input {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100px;
  padding: 5px;
}

.config-panel-item select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}
